.card{
  float: left;
  width: 30%;
  margin-top: 50px;
  margin-left: 50px;
  padding: 10px;
}
.card-img-top{
  width: 100px;
  height: 100px;
  margin: auto;
}
#ok{
  width: 30%;
  margin: auto;
}
.form-label{
  margin-top: 550px;
}


