
<body>
  <!-- <div id="original">
    <h1>{{title}}</h1>
    <hr>
    <p>Contador Principal = {{contadorInicial}}</p>
    <hr>
    <button (click)="incrementaCantidad(incremento)">+{{incremento}}</button>
    <br>
    <br>
    <button (click)="incrementaCantidad(decremento)">-{{decremento}}</button>
    <br>
    <br>
    <button (click)="reseteo()">Reseteo al valor del Contador Principal</button>
    <br>
    <br>
    <hr>
    <p>Valor del Nuevo Contador: {{contador}}</p>
    <p>Valor de Incremento: {{incremento}}</p>
    <p>Valor de Decremento: {{decremento}}</p>
  </div>
  <div id="componente">
    <app-contador></app-contador>
  </div>
  <div id="lista">
    <app-lista></app-lista>
  </div>
  <div id="heroe">
    <app-heroe></app-heroe>
  </div> -->
  <div id="nomHeroe">
    <app-heroe></app-heroe>
  </div>
  <div id="listado-heroes">
    <app-lista-heroes></app-lista-heroes>
  </div>



</body>
